.price {
  // min-height: 470px;
  background-color: #f2f2f2;
  overflow: hidden;
  // padding: 100px 0;
  padding: 94px 0 50px 0;
  background-image: url('../../img/bg-triangle-white.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    padding: 90px 0 35px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 162px;
    padding-bottom: 95px;
  }
}

.price__slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.price__slider-toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__table {
  width: 840px;
  overflow: hidden;
  border-collapse: collapse;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0;
  }
}

.price__table-head {
  background-color: #283645;
  color: $color-white;
}

.price__type {
  position: relative;
  border-right: 2px solid $color-beige;
  border-left: 2px solid $color-beige;
  padding: 24px 0 24px 0;

  @media (min-width: $tablet-width) {
    // padding: 19px 35px;
    padding: 16px 33px 10px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 22px 25px 22px;
  }
}

.price__type--flag {

  &::before {
    position: absolute;
    left: -2px;
    top: 0;
    content: '';
    width: 72px;
    height: 74px;
    background-image: url('../../img/bg-hit.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
  }

  &::after {
    position: absolute;
    left: 13px;
    top: 16px;
    content: 'ХИТ';
    color: $color-white;
    font-weight: 400;
    font-size: 14px;
    width: 28px;
    height: 28px;
    transform: rotate(-45deg);
  }
}

.price__description {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__table-cell {
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  text-transform: uppercase;
  padding: 22px 20px 18px 22px;

  @media (min-width: $tablet-width) {
    padding: 10px 0 10px 0;
    width: 153px;
    box-sizing: border-box;
    text-transform: none;
  }
}

.price__table-cell--first {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
    padding: 15px 0 12px 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 0 20px 22px;
    font-size: 18px;
  }
}

.price__available-icon {
  display: block;
  margin: auto;
}

.price__table-body {
  text-align: start;
  background-color: $color-white;
}

.price__type--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
    background-color: $color-beige;
  }
}

.price__feature {
  @media (min-width: $tablet-width) {
    &:not(.price__feature--first) {
      display: none;
    }
  }
}

