.upload {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.upload__slogan-wrapper {
  width: auto;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}
