.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
}

.form__fieldset-wrapper {
  width: 100%;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  padding: 40px 0;
}

.form__fieldset-wrapper--personal {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.form__fieldset-wrapper--achieve {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.form__fieldset-wrapper--contacts {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.form__fieldset-wrapper--app {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.form__fieldset-wrapper--emotions {
  @media (min-width: $tablet-width) {
    order: 5
  }
}

.form__fieldset-wrapper--achieve,
.form__fieldset-wrapper--app {
  background-color: $color-beige;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
}

.form__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 50px;
  }
}

// .form__fieldset--personal {
//   @media (min-width: $tablet-width) {
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;

//     .form__input--text {
//       max-width: 560px;
//     }
//   }
// }

.form__legend {
  color: $color-pink;
  text-transform: uppercase;
  line-height: 30px;
}

.form__legend--contacts {
  display: none;
}

.form__label {
  color: $color-pink;
  text-transform: uppercase;
  line-height: 30px;
  padding-right: 20px;
}

.form__input {
  border: 2px solid #e5e5e5;
  font-size: 18px;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
}

.form__submit-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 6;
  }
}

.form__submit-btn {
  width: 100%;
  background-color: #2aab6d;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 0;
  border: none;
}

.form__note {
  text-transform: uppercase;

  & span {
    color: $color-pink;
  }
}
