.slider__toggles {
  padding-left: 15px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  font-size: 0;
  width: 6px;
  height: 6px;
  padding: 0;
  border: 0;
  background-color: transparentize(#283645, $amount: 0.7);
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;

  &:hover:not(.slider__toggle--active) {
    background-color: transparentize(#283645, 0.4);
  }

  &:active:not(.slider__toggle--active) {
    background-color: transparentize(#283645, 0.9);
  }
}

.slider__toggle--active {
  box-sizing: content-box;
  background-color: white;
  border: 3px solid #283645;
}
