.features {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: #f2f2f2;
  text-align: center;
  background-color: $color-white;
}

.features__slogan-wrapper {
  width: 280px;
  margin: 0 auto;
  min-height: 220px;
  padding-top: 45px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-top: 75px;
  }
}

.features__slogan {
  font-size: 24px;
  font-weight: 300;
  // line-height: 30px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.features__slogan--shrink {
  @media (min-width: $tablet-width) {
    width: 400px;
    margin: 0 auto;
  }
}

.features__items-wrapper {
  background-color: $color-beige;
  background-image: url('../../img/bg-triangle-white.svg ');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.features__items {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.features__list-wrapper {
  padding-top: 82px;
  background-image: url('../../img/iphone-screen-mobile@1x.png');
  background-size: 157px 320px;
  background-repeat:no-repeat;
  background-position:bottom -43px center;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    display: flex;
    justify-content: flex-end;
    background-image: url('../../img/iphone-screen-3-tablet@1x.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    background: none;
    justify-content: center;
    padding: 20px 0 0 0;
  }
}

.features__list {
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 0 0 280px 0;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0;
    padding: 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

.features__item {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    text-align: center;
  }
}

.features__image-wrapper{
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.features__title {
  font-size: 18px;
  padding: 0;
  margin: 0 0 15px 0;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.features__description {
  line-height: 24px;
  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.features__description--research {
  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    padding-right: 15px;
  }
}

.features__research-wrapper {
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding-top: 94px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-beige;
  }
}

.features__research {
  display: none;

  @media (min-width: $tablet-width) {
    width: 640px;
    box-sizing: border-box;
    display: block;
    text-align: start;
    margin: 0 auto;
    padding-left: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-left: 370px;
    box-sizing: border-box;
  }
}

.features__research-title {
  font-size: 30px;
  line-height: 36px;
  width: 170px;
  font-weight: 500;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.features__research-link {
  color: $color-pink;
  text-decoration: underline;
}
