//обводки
// body > * {
//   background: rgba(255, 0, 0, 0.3);
// }

// body > * > * {
//   background: rgba(255, 255, 0, 0.3);
// }

// body > * > * > * {
//   background: rgba(0, 0, 255, 0.3);
// }

// body > * > * > * > * {
//   background: rgba(0, 255, 255, 0.3);
// }

body {
  min-width: 320px;
  padding: 0;
  margin: 0;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283645;

  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  padding: 0;
  margin: 0;
}

// ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$tablet-width: 660px;
$desktop-width: 1200px;
$color-pink: #d22856;
$color-white: #ffffff;
$color-beige: #f2f2f2;
$color-grayblue: #283645;
