.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 610px;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 64px;
  }
}

.page-footer__contacts-wrapper {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-footer__contacts {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.page-footer__contacts-title {
  // margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}

.page-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
  }
}

.page-footer__contacts-item {
  margin-bottom: 15px;
  a {
    color: #d22856;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.page-footer__contacts-item--mail {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.page-footer__contacts-item--address {
  width: 280px;
  margin: auto;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.page-footer__contacts-text {
  font-weight: 500;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.page-footer__map {
  min-height: 200px;
  width: 100%;
  background-image: url('../../img/bg-triangle-white-footer.svg'),
  url('../../img/bg-map-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%, 100% auto;

  @media (min-width: $tablet-width) {
    min-height: 385px;
    background-image: url('../../img/bg-triangle-white-footer.svg'),
    url('../../img/bg-map-tablet@1x.jpg');
    background-position: top, bottom 30% left;
  }

  @media (min-width: $desktop-width) {
    min-height: 520px;
    background-image: url('../../img/bg-triangle-white-footer.svg'),
    url('../../img/bg-map-desktop@1x.jpg');
    background-position: top, left 57%;
  }
}

.page-footer__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding: 36px 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-top: 73px;
    padding-bottom: 75px;
  }
}

// .page-footer__logo {
//   display: block;

//   // .symbols path{
//   //   fill: #283645;
//   // }

//   // .glasses path {
//   //   fill: $color-pink
//   // }
// }

.page-footer__logo-image--tablet {
  display: none;
  @media (max-width: $tablet-width-only) {
    display: block;

    .symbols path{
      fill: #283645;
    }

    .glasses path {
      fill: $color-pink
    }

    &:hover {
      .symbols path{
        fill: $color-pink;
      }
    }

    &:active {
      path {
        opacity: 0.3;
      }
    }
  }
}

.page-footer__logo-image--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__bottom--index {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-footer__social {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

.page-footer__copyright {
  width: 150px;
  padding-top: 10px;
  padding-left: 21px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $color-grayblue;

  span {
    margin-right: auto;
  }

  svg path {
    fill: $color-pink;
  }

  &:hover svg path {
    fill: $color-grayblue;
  }

  &:active svg path {
    fill: transparentize($color-grayblue, 0.7);
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    width: 153px;
    padding: 5px 0 5px 0;

    svg {
      align-self: flex-end;
    }
  }
}

.social-list__link {
  // display: block;
  display: flex;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  // margin-right: 18px;
  margin: 0 6px;

  svg path{
    fill: $color-pink;
  }

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: transparentize(#283645, 0.9);

    svg path {
      fill: transparentize($color-pink, 0.7);
    }
  }
}

.social-list__link--youtube {
  padding: 15px 13px 17px 17px;
}

.social-list__link--facebook {
  padding: 12px 18px 15px 18px;
}

.social-list__link--twitter {
  padding: 16px 13px 15px 14px;
}
