.slogan {
  line-height: 30px;
  width: auto;
  padding: 50px 0;
  text-align: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 470px;
    font-size: 18px;
    padding: 80px 0;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    padding: 90px 0;
  }
}
